name: Tests

on:
  pull_request:
  push:
    branches:
      - main
    paths:
      - '**.go'
      - '**.mod'
      - '**.sum'
      - '**.proto'
      - 'Makefile'

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      # Install and setup go
      - name: Set up Go 1.23
        uses: actions/setup-go@v4
        with:
          go-version: '^1.23'

      # checkout horcrux
      - name: checkout horcrux
        uses: actions/checkout@v3

      # run tests
      - name: run horcrux tests
        run: make test
  e2e:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test: 
          - TestMultipleChainHorcrux
          - TestChainPureHorcrux
          - TestDownedSigners2of3
          - TestDownedSigners3of5
          - TestLeaderElection2of3
          - Test2Of3SignerThreeSentries
          - Test2Of3SignerThreeSentriesUniqueConnection
          - TestUpgradeValidatorToHorcrux
          - TestSingleSignerTwoSentries
          - TestHorcruxProxyGRPC
    steps:
      # Install and setup go
      - name: Set up Go 1.23
        uses: actions/setup-go@v4
        with:
          go-version: '^1.23'

      # checkout horcrux
      - name: checkout horcrux
        uses: actions/checkout@v3

      # run test matrix
      - name: run test
        run: cd test && go test -v -timeout 30m -run ^${{ matrix.test }}$ .
